D∆∞·ªõi ƒë√¢y l√† lo·∫°t b√†i t·∫≠p v·ªÅ JSON ƒë·ªÉ b·∫°n th·ª±c h√†nh trong m√¥i tr∆∞·ªùng notebook (**ipynb**). C√°c b√†i t·∫≠p t·∫≠p trung v√†o vi·ªác x·ª≠ l√Ω d·ªØ li·ªáu JSON v·ªõi Python, OOP, v√† l∆∞u ra file CSV.

---

# üö© B√ÄI M·∫™U (Gi·∫£i chi ti·∫øt):

### üîπ ƒê·ªÅ b√†i m·∫´u

**Cho m·ªôt JSON ch·ª©a th√¥ng tin c·ªßa c√°c sinh vi√™n nh∆∞ b√™n d∆∞·ªõi:**

```json
[
    {"id": "SV001", "name": "Nguyen Van A", "scores": {"math": 8.5, "literature": 7.0}},
    {"id": "SV002", "name": "Tran Thi B", "scores": {"math": 9.0, "literature": 8.5}}
]
```

**Y√™u c·∫ßu:**

* ƒê·ªçc JSON.
* T√≠nh ƒëi·ªÉm trung b√¨nh t·ª´ng sinh vi√™n.
* Xu·∫•t d·ªØ li·ªáu ra CSV g·ªìm: `id, name, math, literature, average`.

### ‚úÖ Output m·∫´u (CSV):

```
id,name,math,literature,average
SV001,Nguyen Van A,8.5,7.0,7.75
SV002,Tran Thi B,9.0,8.5,8.75
```

### üõ†Ô∏è C√°ch gi·∫£i:

1. D√πng `json` ƒë·ªÉ load d·ªØ li·ªáu JSON.
2. Vi·∫øt Class `Student` qu·∫£n l√Ω vi·ªác t√≠nh ƒëi·ªÉm trung b√¨nh.
3. D√πng pandas ƒë·ªÉ ghi ra file CSV.

In [1]:
json_data = [
    {"id": "SV001", "name": "Nguyen Van A", "scores": {"math": 8.5, "literature": 7.0}},
    {"id": "SV002", "name": "Tran Thi B", "scores": {"math": 9.0, "literature": 8.5}}
]

In [4]:
import json
import pandas as pd

class Student:
    def __init__(self, student_dict):
        self.id = student_dict["id"]
        self.name = student_dict["name"]
        self.math = student_dict["scores"]["math"]
        self.literature = student_dict["scores"]["literature"]
        self.average = None

    def cal_avg(self):
        self.average =  (self.math + self.literature)/2
        return self.average
    
    def to_dict(self):
        return {
            'id' : self.id,
            'name' : self.name,
            'math': self.math,
            'literature' : self.literature,
            'average' : self.average
        }

students = []

for items in json_data:
    student = Student(items)
    student.cal_avg()
    row = student.to_dict()
    students.append(row)

df = pd.DataFrame(students)
df

      id          name  math  literature  average
0  SV001  Nguyen Van A   8.5         7.0     7.75
1  SV002    Tran Thi B   9.0         8.5     8.75

---

## üìö C√°c b√†i th·ª±c h√†nh cho b·∫°n luy·ªán t·∫≠p:

---

# üü¢ **C·∫§P ƒê·ªò D·ªÑ**

### üî∏ B√†i d·ªÖ 1:

**ƒê·ªÅ b√†i:**
B·∫°n ƒë∆∞·ª£c cung c·∫•p JSON ch·ª©a danh s√°ch c√°c m√≥n ƒÉn v√† gi√° ti·ªÅn.

```json
[
    {"food": "B√°nh m√¨", "price": 15000},
    {"food": "Ph·ªü", "price": 35000},
    {"food": "B√∫n b√≤", "price": 40000}
]
```

**Y√™u c·∫ßu:**
Chuy·ªÉn sang CSV v√† th√™m c·ªôt VAT (10%), t√≠nh t·ªïng gi√° (price + VAT).

**Output m·∫´u CSV:**

```
food,price,VAT,total
B√°nh m√¨,15000,1500,16500
Ph·ªü,35000,3500,38500
B√∫n b√≤,40000,4000,44000
```

In [11]:
json_data = [
    {"food": "B√°nh m√¨", "price": 15000},
    {"food": "Ph·ªü", "price": 35000},
    {"food": "B√∫n b√≤", "price": 40000}
]

In [13]:
import json
import pandas as pd

class Food:
    def __init__(self, json_data):
        self.food = json_data["food"]
        self.price = json_data["price"]
        self.vat = None
        self.total = None
    
    def cal_vat(self):
        self.vat = self.price *0.1
        return self.vat
    def cal_total(self):
        self.total = self.vat + self.price
        return self.total
    def to_dict(self):
        return {
            "food": self.food,
            "price": self.price,
            "vat": self.vat,
            "total": self.total
        }
    
foods = []

for item in json_data:
    oop = Food(item)
    oop.cal_vat()
    oop.cal_total()
    row = oop.to_dict()
    foods.append(row)

df = pd.DataFrame(foods)
df

      food  price     vat    total
0  B√°nh m√¨  15000  1500.0  16500.0
1      Ph·ªü  35000  3500.0  38500.0
2   B√∫n b√≤  40000  4000.0  44000.0

---

### üî∏ B√†i d·ªÖ 2:

**ƒê·ªÅ b√†i:**
JSON ch·ª©a th√¥ng tin th·ªùi ti·∫øt theo ng√†y.

```json
{
    "city": "Da Lat",
    "forecast": [
        {"day": "Monday", "temp": 20},
        {"day": "Tuesday", "temp": 21},
        {"day": "Wednesday", "temp": 19}
    ]
}
```

**Y√™u c·∫ßu:**
Xu·∫•t ra CSV v·ªõi 3 c·ªôt: city, day, temp.

**Output m·∫´u CSV:**

```
city,day,temp
Da Lat,Monday,20
Da Lat,Tuesday,21
Da Lat,Wednesday,19
```

In [ ]:


import json
import pandas as pd

class DaLat:
    def __init__(self, city, forecast):
        self.city = city
        self.day = forecast["day"]
        self.temp = forecast["temp"]

    def to_dict(self):
        return {
            "city" : self.city,
            "day" : self.day,
            "temp" : self.temp
        }

data = []

for forecast in json_data["forecast"]:
    oop = DaLat(json_data["city"], forecast)
    data.append(oop.to_dict())


df = pd.DataFrame(data)
df

     city        day  temp
0  Da Lat     Monday    20
1  Da Lat    Tuesday    21
2  Da Lat  Wednesday    19

---

# üü° **C·∫§P ƒê·ªò TRUNG B√åNH**

### üî∏ B√†i trung b√¨nh 1:

**ƒê·ªÅ b√†i:**
JSON g·ªìm c√°c ƒë∆°n h√†ng.

```json
[
    {"order_id": "DH001", "customer": {"name": "Anh Tu", "age": 25}, "amount": 250000},
    {"order_id": "DH002", "customer": {"name": "Chi Lan", "age": 30}, "amount": 180000}
]
```

**Y√™u c·∫ßu:**

* Xu·∫•t ra CSV g·ªìm: order\_id, customer\_name, customer\_age, amount.
* Th√™m c·ªôt discount: n·∫øu amount > 200k, discount 10%, c√≤n l·∫°i 5%.

**Output m·∫´u CSV:**

```
order_id,customer_name,customer_age,amount,discount
DH001,Anh Tu,25,250000,25000
DH002,Chi Lan,30,180000,9000
```

---

In [8]:
json_data = [
    {"order_id": "DH001", "customer": {"name": "Anh Tu", "age": 25}, "amount": 250000},
    {"order_id": "DH002", "customer": {"name": "Chi Lan", "age": 30}, "amount": 180000}
]

import json
import pandas as pd

class Order:
    def __init__(self, order):
        self.order_id = order['order_id']
        self.customer_name = order['customer']['name']
        self.customer_age = order['customer']['age']
        self.amount = order['amount']
        self.discount = self.cal_discount()

    def cal_discount(self):
        if self.amount > 200000:
            self.discount = self.amount *0.9
        else:
            self.discount = self.amount * 0.95
        return self.discount
    def to_dict(self):
        return {
            'order_id' : self.order_id,
            'customer_name' : self.customer_name,
            'customer_age' : self.customer_age,
            'amount' : self.amount,
            'discount' : self.discount
        }
data = []
len_json = len(json_data)

for i in range(0, len_json):
    order = json_data[i]
    oop = Order(order)
    data.append(oop.to_dict())

df = pd.DataFrame(data)
df

  order_id customer_name  customer_age  amount  discount
0    DH001        Anh Tu            25  250000  225000.0
1    DH002       Chi Lan            30  180000  171000.0

### üî∏ B√†i trung b√¨nh 2:

**ƒê·ªÅ b√†i:**
JSON m√¥ t·∫£ ƒëi·ªÉm thi c√°c m√¥n c·ªßa h·ªçc sinh:

```json
[
    {"name": "Lan", "subjects": {"math": 9, "physics": 8, "chemistry": 7}},
    {"name": "Nam", "subjects": {"math": 6, "physics": 7, "chemistry": 9}}
]
```

**Y√™u c·∫ßu:**

* T√≠nh t·ªïng ƒëi·ªÉm m·ªói h·ªçc sinh.
* Xu·∫•t ra CSV: name, math, physics, chemistry, total.

**Output m·∫´u CSV:**

```
name,math,physics,chemistry,total
Lan,9,8,7,24
Nam,6,7,9,22
```

In [9]:
json_data = [
    {"name": "Lan", "subjects": {"math": 9, "physics": 8, "chemistry": 7}},
    {"name": "Nam", "subjects": {"math": 6, "physics": 7, "chemistry": 9}}
]

import json
import pandas as pd

class Class:
    def __init__(self, student):
        self.name = student['name']
        self.math = student['subjects']['math']
        self.physics = student['subjects']['physics']
        self.chemistry = student['subjects']['chemistry']
        self.total = self.cal_total()

    def cal_total(self):
        self.total = self.math + self.physics + self.chemistry
        return self.total
    def to_dict(self):
        return {
            'name': self.name,
            'math' : self.math,
            'physics' : self.physics,
            'chemistry' : self.chemistry,
            'total' : self.total
        }

len_json = len(json_data)
data = []

for i in range(0, len_json):
    oop = Class(json_data[i])
    data.append(oop.to_dict())

df = pd.DataFrame(data)
df

  name  math  physics  chemistry  total
0  Lan     9        8          7     24
1  Nam     6        7          9     22

---

### üî∏ B√†i trung b√¨nh 3:

**ƒê·ªÅ b√†i:**
JSON d·∫°ng nested s√¢u h∆°n:

```json
{
    "company": "XYZ Tech",
    "employees": [
        {"id": 1, "info": {"name": "John Doe", "skills": ["Python", "SQL"]}},
        {"id": 2, "info": {"name": "Jane Smith", "skills": ["Java", "AWS", "Docker"]}}
    ]
}
```

**Y√™u c·∫ßu:**

* Xu·∫•t CSV g·ªìm: company, employee\_id, employee\_name, skills (skills l√† chu·ªói n·ªëi b·∫±ng `|`).

**Output m·∫´u CSV:**

```
company,employee_id,employee_name,skills
XYZ Tech,1,John Doe,Python|SQL
XYZ Tech,2,Jane Smith,Java|AWS|Docker
```

In [13]:
json_data = {
    "company": "XYZ Tech",
    "employees": [
        {"id": 1, "info": {"name": "John Doe", "skills": ["Python", "SQL"]}},
        {"id": 2, "info": {"name": "Jane Smith", "skills": ["Java", "AWS", "Docker"]}}
    ]
}

import pandas as pd

class Company:
    def __init__(self, company, employess):
        self.company = company
        self.employee_id = employess['id']
        self.employee_name = employess['info']['name']
        self.skills = " | ".join(employess['info']['skills'])
    
    
    def to_dataframe(company, employess):
        data = []
        for emp in employess:
            obj = Company(company, emp)
            data.append({
            'company' : obj.company,
            'employee_id' : obj.employee_id,
            'employee_name': obj.employee_name,
            'skills': obj.skills
        })
        return pd.DataFrame(data)
    
df = Company.to_dataframe(json_data['company'], json_data['employees'])
df

    company  employee_id employee_name               skills
0  XYZ Tech            1      John Doe         Python | SQL
1  XYZ Tech            2    Jane Smith  Java | AWS | Docker

---

# üî¥ **C·∫§P ƒê·ªò KH√ì**

### üî∏ B√†i kh√≥:

**ƒê·ªÅ b√†i:**
B·∫°n c√≥ m·ªôt file JSON ph·ª©c t·∫°p h∆°n, ch·ª©a nhi·ªÅu ƒë∆°n h√†ng v·ªõi c√°c s·∫£n ph·∫©m kh√°c nhau. M·ªói ƒë∆°n h√†ng c√≥ th·ªÉ ch·ª©a nhi·ªÅu s·∫£n ph·∫©m.

```json
[
    {
        "order_id": "O1001",
        "customer": "Minh",
        "items": [
            {"product": "Milk", "qty": 2, "unit_price": 30000},
            {"product": "Eggs", "qty": 1, "unit_price": 50000}
        ]
    },
    {
        "order_id": "O1002",
        "customer": "An",
        "items": [
            {"product": "Bread", "qty": 3, "unit_price": 20000}
        ]
    }
]
```

**Y√™u c·∫ßu:**

* D√πng OOP: class `Order`, method t√≠nh t·ªïng ƒë∆°n h√†ng.
* Xu·∫•t CSV: order\_id, customer, total\_amount, products (c√°c t√™n s·∫£n ph·∫©m n·ªëi b·∫±ng `,`).

**Output m·∫´u CSV:**

```
order_id,customer,total_amount,products
O1001,Minh,110000,Milk,Eggs
O1002,An,60000,Bread
```

In [18]:
json_data = [
    {
        "order_id": "O1001",
        "customer": "Minh",
        "items": [
            {"product": "Milk", "qty": 2, "unit_price": 30000},
            {"product": "Eggs", "qty": 1, "unit_price": 50000}
        ]
    },
    {
        "order_id": "O1002",
        "customer": "An",
        "items": [
            {"product": "Bread", "qty": 3, "unit_price": 20000}
        ]
    }
]

import pandas as pd

class Order_JSON:
    def __init__(self, order):
        self.order_id = order['order_id']
        self.customer = order['customer']
        self.product = ",".join(item['product'] for item in order['items'])
        self.total_product = len(order['items'])
        self.total_amount = sum(item['qty'] * item['unit_price'] for item in order['items'])

    def to_dataframe(json_data):
        data = []

        for order in json_data:
            obj = Order_JSON(order)
            data.append({
                'order_id' : obj.order_id,
                'customer' : obj.customer,
                'total_product' : obj.total_product,
                'total_amount' : obj.total_amount,
                'products' : obj.product
            })
        return pd.DataFrame(data)
    
df = Order_JSON.to_dataframe(json_data)
df

  order_id customer  total_product  total_amount   products
0    O1001     Minh              2        110000  Milk,Eggs
1    O1002       An              1         60000      Bread

In [20]:
json_data = [
    {
        "bill_id": "B001",
        "customer": "Ngoc",
        "services": [
            {"service": "Internet", "qty": 1, "unit_price": 200000},
            {"service": "TV", "qty": 2, "unit_price": 100000}
        ]
    },
    {
        "bill_id": "B002",
        "customer": "Hieu",
        "services": [
            {"service": "Internet", "qty": 1, "unit_price": 200000}
        ]
    }
]

# Output:
# bill_id,customer,total_amount,services
# B001,Ngoc,400000,Internet,TV
# B002,Hieu,200000,Internet

import pandas as pd

class Bill_Export:
    def __init__(self, bill):
        self.bill_id = bill['bill_id']
        self.customer = bill['customer']
        self.services = ", ".join(service['service'] for service in bill['services'])
        self.total_amount = sum(service['qty'] * service['unit_price'] for service in bill['services'])
    
    def to_dataframe(json_data):
        data = []

        for bill in json_data:
            obj = Bill_Export(bill)
            data.append({
                'bill_id' : obj.bill_id,
                'customer' : obj.customer,
                'total_amount' : obj.total_amount,
                "services" : obj.services
            })
        return pd.DataFrame(data)

df = Bill_Export.to_dataframe(json_data)
df

  bill_id customer  total_amount      services
0    B001     Ngoc        400000  Internet, TV
1    B002     Hieu        200000      Internet